<p>
  A traditional or static array is a contiguous memeory space. That means it is
  unbreaking
</p>

Contains a certain amount of bytes. Basically an array is a bunch of pieces of
memory that are seen as a single type.

<br />
Look into it again. Seems like array is a determined length.
<br />
You set a section of data as an array and within that array you set different
lengths to hold sections of the data.

<br />
<br />
for example you could make an array a 16 byte array. so each section is 16
bytes??

<h2>The three methods for an array are all O1</h2>
This is because of how you find spot.
<p>a +width * offset. a= ? width = in bytes? offset= idk fam</p>
<p>insertion</p>
<p>deletion</p>
<p>getting</p>

<h2>Front end masters notes</h2>

Array
<ul>
  <li>They are fixed size, continiguous memory chunks</li>
  <li>That means you cannot grow it</li>
  <li>
    There is no "insertAt" or push or pop. Doesn't mean you can't write it
    though.
  </li>
</ul>
